*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  background-color: #353b48;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;

}
img{
  width:100px;
  height:100px;
}
.header{
  text-align:center;
  color:#c4d1de;
}
.header h1 {
  background: linear-gradient(to right, #f40992, #2075c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
